.logo-container {
    z-index: 0;
    width: 609px;
    height: 609px;
    right: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 2;
    left: auto;
    margin: auto;
    border: 5px solid #555;


  }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
